<h4><%= link_to card.name, card %></h4>
<% if card.balance %>
	<p>Balance: <%=number_to_currency(card.balance) %></p>
<% else %>
	<p>We could not find your balance. Check that your <%= link_to "card info", card %> is correct.</p>
<% end %>
<% if card.reminder_amount %>
<p>Reminder when balance gets below: <%=number_to_currency(card.reminder_amount) %></p>
<% end %>