<header class="header">
	<div class="div-3">
	</div>
	<div class="text-center div-6 desktop">
	  <h1>ORCA refill locations</h1>
	  <h4>Click on a marker to get directions</h4>
	</div>
	<div class="text-center div-6 mobile">
		<p>ORCA refill locations</p>
	</div>
	<div class="text-center div-3 header-btn desktop">
	   <%= link_to "Check my card", log_in_path, :class => "btn btn-primary" %>
	</div>
</header>
<%= react_component('App', {locations: @locations},{class: "main"}) %>