/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap";
$sidebar-width: 35%;
html, body, .main{
	height: 100%;
}

.map{
	height: 80%;
}

.sidebar{
	position: absolute;
	z-index: 100;
	background-color: rgba(0,0,0,.4);
	height: 100%;
	width: $sidebar-width;
	left: -$sidebar-width;
	transition: left 0.5s;
	-webkit-transition: left 0.5s;
	background-color: #4285F4;
	color: white;
	overflow-y: scroll;
}

.slide-in{
	left: 0;
}

.close-sidebar{
	float: right;
}

.directions-form{
	color: black;
}

.directions-text{
	background-color: white;
}